{{#each cards}}
<div class="col-3 my-2">
    <div class="card text-bg-dark">
        <div class="card-body">
            <h5 class="cart-title">{{title}}
                {{#if isTop}}
                <span class="badge text-bg-danger">Топ</span>
                {{/if}}
                {{#if isNew}}
                <span class="badge text-bg-success">Нова</span>
                {{/if}}
            </h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>
{{/each}}