{{#with navigation}}
<div class="card p-1 m-3">
    <ul class="nav">
        {{#each links}}
        <li class="nav-item">
            <a class="nav-link  {{#if href}} {{else}} disabled {{/if}}" {{#if href}} href={{href}} {{/if}}>{{text}}</a>
        </li>
        {{/each}}
    </ul>
</div>
{{/with}}