<div class="row d-3 m-3">
    {{#each footer}}
    <div class="nav">
        {{#each this}}
        <a class="btn btn-link col-2 nav-item nav-link" href={{link}}>{{text}}</a>
        {{/each}}
    </div>
    {{/each}}
</div>